infra/n8n/kaxi-rag-typebot-orchestrator.json
{
  "id": "kaxi-rag-typebot-railway",
  "name": "KAXI RAG Typebot Orchestrator",
  "nodes": [
    {
      "id": "44a07717-684c-48ac-9add-7eecc5bbcc12",
      "name": "Typebot Runtime Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        240
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "typebot-rag-runtime",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "bb704a29-14bc-4344-b0ef-8108fd367057"
    },
    {
      "id": "a131f633-ad2c-4ad0-9470-6375f1f9262d",
      "name": "Verify Runtime Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/verify",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { purpose: 'typebot-runtime', timestamp: $json.headers?.['x-kaxi-timestamp'] ?? '', nonce: $json.headers?.['x-kaxi-nonce'] ?? '', signature: $json.headers?.['x-kaxi-signature'] ?? '', payload: $json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      }
    },
    {
      "id": "d0e2e8b4-09fa-4d34-97e9-81e41da7f111",
      "name": "Runtime Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "2d1ded94-6b9d-406d-9432-0d02a908a4a4",
      "name": "Compute Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: String($json.body?.payload?.retrievalQuery || $json.body?.payload?.question || '').slice(0, 4000), dimensions: 1536, encoding_format: 'float' }) }}",
        "options": {
          "timeout": 4000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "81531323-6ed5-4d2c-b2de-66da7ebdf37b",
      "name": "Run KAXI RAG Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/rag-runtime",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { verificationToken: $('Verify Runtime Signature').item.json.verificationToken ?? '', payload: $('Typebot Runtime Webhook').item.json.body ?? {}, queryEmbedding: Array.isArray($json.data) && Array.isArray($json.data[0]?.embedding) ? $json.data[0].embedding : undefined } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 25000
        }
      }
    },
    {
      "id": "06d853af-953a-444e-af00-a41ee6630e0c",
      "name": "Respond to Typebot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1400,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $('Run KAXI RAG Core').item.json.body?.answer ?? '', needsHuman: $('Run KAXI RAG Core').item.json.body?.needsHuman ?? true, riskLevel: $('Run KAXI RAG Core').item.json.body?.riskLevel ?? 'high', leadStage: $('Run KAXI RAG Core').item.json.body?.leadStage ?? 'blocked', nextStep: $('Run KAXI RAG Core').item.json.body?.nextStep ?? '', sources: $('Run KAXI RAG Core').item.json.body?.sources ?? [], searchMeta: { ...($('Run KAXI RAG Core').item.json.body?.searchMeta ?? {}), runtimePath: 'n8n-kaxi-orchestrated', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }, requestId: $('Run KAXI RAG Core').item.json.body?.requestId ?? '', handoffToken: $('Run KAXI RAG Core').item.json.body?.handoffToken ?? '', persisted: $('Run KAXI RAG Core').item.json.body?.persisted ?? false, persistenceAccepted: $('Run KAXI RAG Core').item.json.body?.persistenceAccepted ?? false, messageId: $('Run KAXI RAG Core').item.json.body?.messageId ?? null, persistenceMode: $('Run KAXI RAG Core').item.json.body?.persistenceMode ?? '', handoffTaskPersisted: $('Run KAXI RAG Core').item.json.body?.handoffTaskPersisted ?? false, runtimePath: 'n8n-kaxi-orchestrated', executionId: $('Run KAXI RAG Core').item.json.body?.executionId ?? $execution.id, workflowId: $('Run KAXI RAG Core').item.json.body?.workflowId ?? 'kaxi-direct-hybrid', workflowVersionId: $('Run KAXI RAG Core').item.json.body?.workflowVersionId ?? 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: $('Run KAXI RAG Core').item.json.body?.modelVersion ?? 'retrieval/hybrid-rrf-v3+rerank-v11@2026-07-14', promptVersion: $('Run KAXI RAG Core').item.json.body?.promptVersion ?? 'kaxi-grounded-answer@2026-07-14.p3-v3', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }) }}",
        "options": {
          "responseCode": "={{ $('Run KAXI RAG Core').item.json.statusCode ?? 502 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "c05a3e0f-d647-46fc-a967-f8d1bd3c77ac",
      "name": "Respond Runtime Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        360
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: 'Unauthorized request.', needsHuman: true, riskLevel: 'high', leadStage: 'blocked', nextStep: 'Verify the KAXI signature and session state.', sources: [], runtimePath: 'n8n-signature-rejected', executionId: $execution.id, workflowId: $workflow.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'retrieval/hybrid-rrf-v3+rerank-v11@2026-07-14', promptVersion: 'kaxi-grounded-answer@2026-07-14.p3-v3' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "e2e07748-2853-45df-b85b-2d9a26e6e3a3",
      "name": "RAG Knowledge Ingestion Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        680
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-knowledge-ingest",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "eaccee48-913d-4e98-a387-237a6f7e722f"
    },
    {
      "id": "fa62e2b0-4bdc-4124-bd96-990912d97b18",
      "name": "Verify Ingestion Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/verify",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { purpose: 'rag-ingestion', timestamp: $json.headers?.['x-kaxi-timestamp'] ?? '', nonce: $json.headers?.['x-kaxi-nonce'] ?? '', signature: $json.headers?.['x-kaxi-signature'] ?? '', payload: $json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      }
    },
    {
      "id": "fd0c8b51-bd0c-4b81-b4c3-91b7723e91ad",
      "name": "Ingestion Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        680
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "3760cc44-27c1-4991-ab38-753f49973cf8",
      "name": "Run KAXI RAG Ingestion Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/rag-ingestion",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { verificationToken: $('Verify Ingestion Signature').item.json.verificationToken ?? '', payload: $('RAG Knowledge Ingestion Webhook').item.json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 40000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 750
    },
    {
      "id": "20a669f1-8138-4754-a2d4-2244de0abf56",
      "name": "Respond Ingestion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ...($('Run KAXI RAG Ingestion Core').item.json.body ?? {}), executionId: $('Run KAXI RAG Ingestion Core').item.json.body?.executionId ?? $execution.id, workflowId: $('Run KAXI RAG Ingestion Core').item.json.body?.workflowId ?? $workflow.id, workflowVersionId: $('Run KAXI RAG Ingestion Core').item.json.body?.workflowVersionId ?? 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: $('Run KAXI RAG Ingestion Core').item.json.body?.modelVersion ?? 'openai/text-embedding-3-small@1536', promptVersion: $('Run KAXI RAG Ingestion Core').item.json.body?.promptVersion ?? 'kaxi-rag-ingestion@2026-07-14.mcp-v1', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }) }}",
        "options": {
          "responseCode": "={{ $('Run KAXI RAG Ingestion Core').item.json.statusCode ?? 502 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "90860ed5-7479-4a21-a5fe-e72c88e26aed",
      "name": "Respond Ingestion Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, status: 'unauthorized', executionId: $execution.id, workflowId: $workflow.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'openai/text-embedding-3-small@1536', promptVersion: 'kaxi-rag-ingestion@2026-07-14.mcp-v1' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "89066cd9-284c-49c9-a048-4f28f6033523",
      "name": "Typebot Handoff Update Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "typebot-handoff-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "5945d188-a693-482f-9e20-e397f20d474f"
    },
    {
      "id": "4f487831-7a2d-4619-95a5-212560510d27",
      "name": "Verify Handoff Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        1120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/verify",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { purpose: 'typebot-handoff', timestamp: $json.headers?.['x-kaxi-timestamp'] ?? '', nonce: $json.headers?.['x-kaxi-nonce'] ?? '', signature: $json.headers?.['x-kaxi-signature'] ?? '', payload: $json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      }
    },
    {
      "id": "d32e721b-2c24-48cc-884d-63b60186fdcc",
      "name": "Handoff Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        1120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "c578648c-d6f9-43da-bf46-cd844d093c15",
      "name": "Run KAXI Handoff Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        1040
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/handoff-update",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { verificationToken: $('Verify Handoff Signature').item.json.verificationToken ?? '', payload: $('Typebot Handoff Update Webhook').item.json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "id": "1b478664-6be3-45db-911d-98ca00e34c2f",
      "name": "Respond Handoff Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        1040
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ...($('Run KAXI Handoff Core').item.json.body ?? {}), executionId: $('Run KAXI Handoff Core').item.json.body?.executionId ?? $execution.id, workflowId: $('Run KAXI Handoff Core').item.json.body?.workflowId ?? $workflow.id, workflowVersionId: $('Run KAXI Handoff Core').item.json.body?.workflowVersionId ?? 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: $('Run KAXI Handoff Core').item.json.body?.modelVersion ?? 'openai/text-embedding-3-small@1536', promptVersion: $('Run KAXI Handoff Core').item.json.body?.promptVersion ?? 'kaxi-handoff-update@2026-07-14.mcp-v1', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }) }}",
        "options": {
          "responseCode": "={{ $('Run KAXI Handoff Core').item.json.statusCode ?? 502 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "b11b7ca4-7dd0-4d7a-88b3-c981e02454e9",
      "name": "Respond Handoff Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        1240
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, status: 'unauthorized', executionId: $execution.id, workflowId: $workflow.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'openai/text-embedding-3-small@1536', promptVersion: 'kaxi-handoff-update@2026-07-14.mcp-v1' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "b0708be8-6852-4dba-8cbe-9efb8ac7902c",
      "name": "RAG Serving Capability Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1480
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "rag-serving-capabilities",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "8e13d78d-307f-49b4-bb8f-6316bda17230"
    },
    {
      "id": "42e9972f-f85e-4bc3-98b8-47839097a9d1",
      "name": "Respond RAG Serving Capability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        440,
        1480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ service: 'kaxi-rag-serving', contractVersion: '2026-07-14.v4', workflowId: $workflow.id, ingestionTarget: 'rag_serving_chunks', retrievalMode: 'hybrid-rrf-v3-openai-required', lexicalCandidateCount: 20, vectorCandidateCount: 20, finalMatchCount: 6, embeddingModel: 'text-embedding-3-small', corpusEmbeddingModel: 'text-embedding-3-small', embeddingContentStrategy: 'single-locale-v1', dimensions: 1536, queryEmbeddingOptional: false, storedVectorFallback: 'disabled', vectorSeedCount: 0, providerFailureMode: 'fail-closed', signedIngestionRequired: true, executionId: $execution.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'retrieval/hybrid-rrf-v3+rerank-v11@2026-07-14', promptVersion: 'kaxi-rag-capability@2026-07-14.v4' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Typebot Runtime Webhook": {
      "main": [
        [
          {
            "node": "Verify Runtime Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Runtime Signature": {
      "main": [
        [
          {
            "node": "Runtime Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runtime Signature Valid": {
      "main": [
        [
          {
            "node": "Compute Query Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Runtime Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Query Embedding": {
      "main": [
        [
          {
            "node": "Run KAXI RAG Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KAXI RAG Core": {
      "main": [
        [
          {
            "node": "Respond to Typebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Knowledge Ingestion Webhook": {
      "main": [
        [
          {
            "node": "Verify Ingestion Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Ingestion Signature": {
      "main": [
        [
          {
            "node": "Ingestion Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Signature Valid": {
      "main": [
        [
          {
            "node": "Run KAXI RAG Ingestion Core",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ingestion Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KAXI RAG Ingestion Core": {
      "main": [
        [
          {
            "node": "Respond Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typebot Handoff Update Webhook": {
      "main": [
        [
          {
            "node": "Verify Handoff Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Handoff Signature": {
      "main": [
        [
          {
            "node": "Handoff Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff Signature Valid": {
      "main": [
        [
          {
            "node": "Run KAXI Handoff Core",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Handoff Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KAXI Handoff Core": {
      "main": [
        [
          {
            "node": "Respond Handoff Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Serving Capability Webhook": {
      "main": [
        [
          {
            "node": "Respond RAG Serving Capability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timezone": "Asia/Seoul",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "executionTimeout": 60
  }
}
