infra/n8n/kaxi-rag-typebot-orchestrator.json
{
  "id": "kaxi-rag-typebot-railway",
  "name": "KAXI RAG Typebot Orchestrator",
  "nodes": [
    {
      "id": "470f346f-00bb-40a9-9a86-55755fb3d6b9",
      "name": "Typebot Runtime Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        240
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "typebot-rag-runtime",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "55ef10a3-c3cb-4c2a-9e29-c3d1b6f01eb0"
    },
    {
      "id": "b472ce89-bcfb-415f-a66f-aea0c3457b3e",
      "name": "Verify Runtime Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        240
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/verify",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { purpose: 'typebot-runtime', timestamp: $json.headers?.['x-kaxi-timestamp'] ?? '', nonce: $json.headers?.['x-kaxi-nonce'] ?? '', signature: $json.headers?.['x-kaxi-signature'] ?? '', payload: $json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      }
    },
    {
      "id": "64c97cb9-cef1-41d6-8531-ff52e884a4d3",
      "name": "Runtime Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        240
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "fb29bb0f-7985-445a-8ac5-a6da0975ef2d",
      "name": "Compute Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: String($('Typebot Runtime Webhook').item.json.body?.retrievalQuery || $('Typebot Runtime Webhook').item.json.body?.question || '').slice(0, 4000), dimensions: 1536, encoding_format: 'float' }) }}",
        "options": {
          "timeout": 4000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "ea4dae39-d896-45e8-8d4f-7d7388e03bab",
      "name": "Run KAXI RAG Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        160
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/rag-runtime",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { verificationToken: $('Verify Runtime Signature').item.json.verificationToken ?? '', payload: $('Typebot Runtime Webhook').item.json.body ?? {}, queryEmbedding: Array.isArray($json.data) && Array.isArray($json.data[0]?.embedding) ? $json.data[0].embedding : undefined } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 25000
        }
      }
    },
    {
      "id": "3c7e2cf6-995a-4c2d-bdf9-524ca1437ac7",
      "name": "Respond to Typebot",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1400,
        160
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: $('Run KAXI RAG Core').item.json.body?.answer ?? '', needsHuman: $('Run KAXI RAG Core').item.json.body?.needsHuman ?? true, riskLevel: $('Run KAXI RAG Core').item.json.body?.riskLevel ?? 'high', leadStage: $('Run KAXI RAG Core').item.json.body?.leadStage ?? 'blocked', nextStep: $('Run KAXI RAG Core').item.json.body?.nextStep ?? '', sources: $('Run KAXI RAG Core').item.json.body?.sources ?? [], searchMeta: { ...($('Run KAXI RAG Core').item.json.body?.searchMeta ?? {}), runtimePath: 'n8n-kaxi-orchestrated', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }, requestId: $('Run KAXI RAG Core').item.json.body?.requestId ?? '', handoffToken: $('Run KAXI RAG Core').item.json.body?.handoffToken ?? '', persisted: $('Run KAXI RAG Core').item.json.body?.persisted ?? false, persistenceAccepted: $('Run KAXI RAG Core').item.json.body?.persistenceAccepted ?? false, messageId: $('Run KAXI RAG Core').item.json.body?.messageId ?? null, persistenceMode: $('Run KAXI RAG Core').item.json.body?.persistenceMode ?? '', handoffTaskPersisted: $('Run KAXI RAG Core').item.json.body?.handoffTaskPersisted ?? false, runtimePath: 'n8n-kaxi-orchestrated', executionId: $('Run KAXI RAG Core').item.json.body?.executionId ?? $execution.id, workflowId: $('Run KAXI RAG Core').item.json.body?.workflowId ?? 'kaxi-direct-hybrid', workflowVersionId: $('Run KAXI RAG Core').item.json.body?.workflowVersionId ?? 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: $('Run KAXI RAG Core').item.json.body?.modelVersion ?? 'retrieval/hybrid-rrf-v3+rerank-v11@2026-07-14', promptVersion: $('Run KAXI RAG Core').item.json.body?.promptVersion ?? 'kaxi-grounded-answer@2026-07-14.p3-v3', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }) }}",
        "options": {
          "responseCode": "={{ $('Run KAXI RAG Core').item.json.statusCode ?? 502 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "e1c2043c-579f-4f80-9a3e-a4515fdb4a3e",
      "name": "Respond Runtime Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        360
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ answer: 'Unauthorized request.', needsHuman: true, riskLevel: 'high', leadStage: 'blocked', nextStep: 'Verify the KAXI signature and session state.', sources: [], runtimePath: 'n8n-signature-rejected', executionId: $execution.id, workflowId: $workflow.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'retrieval/hybrid-rrf-v3+rerank-v11@2026-07-14', promptVersion: 'kaxi-grounded-answer@2026-07-14.p3-v3' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "66a8e7f8-9f48-4cc5-bfe9-a95dc975f18d",
      "name": "RAG Knowledge Ingestion Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        680
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "rag-knowledge-ingest",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "c557e878-f648-430a-b4e7-2bcbd99c9622"
    },
    {
      "id": "3e9c1026-6012-435a-b3df-85c0eeb3ff98",
      "name": "Verify Ingestion Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        680
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/verify",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { purpose: 'rag-ingestion', timestamp: $json.headers?.['x-kaxi-timestamp'] ?? '', nonce: $json.headers?.['x-kaxi-nonce'] ?? '', signature: $json.headers?.['x-kaxi-signature'] ?? '', payload: $json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      }
    },
    {
      "id": "f41fc1af-1058-4167-860b-1ca953d0f675",
      "name": "Ingestion Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        680
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "9343fd77-e80f-45c5-8d6c-b7a4e5f627a5",
      "name": "Compute Chunk Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/embeddings",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'text-embedding-3-small', input: String($('RAG Knowledge Ingestion Webhook').item.json.body?.embedding_content || '').slice(0, 4000), dimensions: 1536, encoding_format: 'float' }) }}",
        "options": {
          "timeout": 10000
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "id": "947c19de-3305-4ccd-8e0f-9a8480fca7ca",
      "name": "Run KAXI RAG Ingestion Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        600
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/rag-ingestion",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { verificationToken: $('Verify Ingestion Signature').item.json.verificationToken ?? '', payload: $('RAG Knowledge Ingestion Webhook').item.json.body ?? {}, chunkEmbedding: Array.isArray($json.data) && Array.isArray($json.data[0]?.embedding) ? $json.data[0].embedding : undefined } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 40000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 750
    },
    {
      "id": "162dd45e-6c5e-4486-8400-4a0621d942c6",
      "name": "Respond Ingestion",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1400,
        600
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ...($('Run KAXI RAG Ingestion Core').item.json.body ?? {}), executionId: $('Run KAXI RAG Ingestion Core').item.json.body?.executionId ?? $execution.id, workflowId: $('Run KAXI RAG Ingestion Core').item.json.body?.workflowId ?? $workflow.id, workflowVersionId: $('Run KAXI RAG Ingestion Core').item.json.body?.workflowVersionId ?? 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: $('Run KAXI RAG Ingestion Core').item.json.body?.modelVersion ?? 'openai/text-embedding-3-small@1536', promptVersion: $('Run KAXI RAG Ingestion Core').item.json.body?.promptVersion ?? 'kaxi-rag-ingestion@2026-07-14.mcp-v1', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }) }}",
        "options": {
          "responseCode": "={{ $('Run KAXI RAG Ingestion Core').item.json.statusCode ?? 502 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "1cc9188a-088d-4293-942e-80c37b469951",
      "name": "Respond Ingestion Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        800
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, status: 'unauthorized', executionId: $execution.id, workflowId: $workflow.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'openai/text-embedding-3-small@1536', promptVersion: 'kaxi-rag-ingestion@2026-07-14.mcp-v1' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "ea4c4c06-d741-44a1-9349-326cd38f44e2",
      "name": "Typebot Handoff Update Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1120
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "typebot-handoff-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "781f9d17-857a-4a8c-b82a-e1e84affcf83"
    },
    {
      "id": "0d7fe136-1ddb-4871-a2e9-48dc783a08bd",
      "name": "Verify Handoff Signature",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        400,
        1120
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/verify",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { purpose: 'typebot-handoff', timestamp: $json.headers?.['x-kaxi-timestamp'] ?? '', nonce: $json.headers?.['x-kaxi-nonce'] ?? '', signature: $json.headers?.['x-kaxi-signature'] ?? '', payload: $json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 10000
        }
      }
    },
    {
      "id": "f4f0f13b-2892-4992-8473-faae27df4d04",
      "name": "Handoff Signature Valid",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        640,
        1120
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "leftValue": "={{ $json.ok }}",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "rightValue": true
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "5e192a78-7126-4ec9-b750-c98a75c7bb72",
      "name": "Run KAXI Handoff Core",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        1040
      ],
      "parameters": {
        "method": "POST",
        "url": "https://kaxi.vercel.app/api/internal/n8n/handoff-update",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { verificationToken: $('Verify Handoff Signature').item.json.verificationToken ?? '', payload: $('Typebot Handoff Update Webhook').item.json.body ?? {} } }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 20000
        }
      },
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 500
    },
    {
      "id": "1c2c5e8e-6749-4ef9-8c48-c878d0c8e1db",
      "name": "Respond Handoff Update",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        1040
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ...($('Run KAXI Handoff Core').item.json.body ?? {}), executionId: $('Run KAXI Handoff Core').item.json.body?.executionId ?? $execution.id, workflowId: $('Run KAXI Handoff Core').item.json.body?.workflowId ?? $workflow.id, workflowVersionId: $('Run KAXI Handoff Core').item.json.body?.workflowVersionId ?? 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: $('Run KAXI Handoff Core').item.json.body?.modelVersion ?? 'openai/text-embedding-3-small@1536', promptVersion: $('Run KAXI Handoff Core').item.json.body?.promptVersion ?? 'kaxi-handoff-update@2026-07-14.mcp-v1', n8nExecutionId: $execution.id, n8nWorkflowId: $workflow.id, n8nWorkflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3' }) }}",
        "options": {
          "responseCode": "={{ $('Run KAXI Handoff Core').item.json.statusCode ?? 502 }}",
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    },
    {
      "id": "b8072a26-9cbb-4f16-91d7-c5c2a17c799a",
      "name": "Respond Handoff Unauthorized",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        880,
        1240
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, status: 'unauthorized', executionId: $execution.id, workflowId: $workflow.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'openai/text-embedding-3-small@1536', promptVersion: 'kaxi-handoff-update@2026-07-14.mcp-v1' }) }}",
        "options": {
          "responseCode": 401,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        }
      }
    },
    {
      "id": "9e08c5ac-2c93-41c7-8f74-2a6b01088013",
      "name": "RAG Serving Capability Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        160,
        1480
      ],
      "parameters": {
        "httpMethod": "GET",
        "path": "rag-serving-capabilities",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://kaxi.vercel.app",
          "ignoreBots": false
        }
      },
      "webhookId": "24078666-0ef9-4399-b808-44f1449aa75d"
    },
    {
      "id": "631bc5fa-f5c0-414e-93f1-5840f9b6bb5c",
      "name": "Respond RAG Serving Capability",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        440,
        1480
      ],
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ service: 'kaxi-rag-serving', contractVersion: '2026-07-14.v4', workflowId: $workflow.id, ingestionTarget: 'rag_serving_chunks', retrievalMode: 'hybrid-rrf-v3-openai-required', lexicalCandidateCount: 20, vectorCandidateCount: 20, finalMatchCount: 6, embeddingModel: 'text-embedding-3-small', corpusEmbeddingModel: 'text-embedding-3-small', embeddingContentStrategy: 'single-locale-v1', dimensions: 1536, queryEmbeddingOptional: false, storedVectorFallback: 'disabled', vectorSeedCount: 0, providerFailureMode: 'fail-closed', signedIngestionRequired: true, executionId: $execution.id, workflowVersionId: 'kaxi-rag-runtime@2026-07-14.railway-mcp-v3', modelVersion: 'retrieval/hybrid-rrf-v3+rerank-v11@2026-07-14', promptVersion: 'kaxi-rag-capability@2026-07-14.v4' }) }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Cache-Control",
                "value": "no-store"
              }
            ]
          }
        }
      }
    }
  ],
  "connections": {
    "Typebot Runtime Webhook": {
      "main": [
        [
          {
            "node": "Verify Runtime Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Runtime Signature": {
      "main": [
        [
          {
            "node": "Runtime Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Runtime Signature Valid": {
      "main": [
        [
          {
            "node": "Compute Query Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Runtime Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Query Embedding": {
      "main": [
        [
          {
            "node": "Run KAXI RAG Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KAXI RAG Core": {
      "main": [
        [
          {
            "node": "Respond to Typebot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Knowledge Ingestion Webhook": {
      "main": [
        [
          {
            "node": "Verify Ingestion Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Ingestion Signature": {
      "main": [
        [
          {
            "node": "Ingestion Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ingestion Signature Valid": {
      "main": [
        [
          {
            "node": "Compute Chunk Embedding",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Ingestion Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compute Chunk Embedding": {
      "main": [
        [
          {
            "node": "Run KAXI RAG Ingestion Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KAXI RAG Ingestion Core": {
      "main": [
        [
          {
            "node": "Respond Ingestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typebot Handoff Update Webhook": {
      "main": [
        [
          {
            "node": "Verify Handoff Signature",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Handoff Signature": {
      "main": [
        [
          {
            "node": "Handoff Signature Valid",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handoff Signature Valid": {
      "main": [
        [
          {
            "node": "Run KAXI Handoff Core",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Handoff Unauthorized",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run KAXI Handoff Core": {
      "main": [
        [
          {
            "node": "Respond Handoff Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RAG Serving Capability Webhook": {
      "main": [
        [
          {
            "node": "Respond RAG Serving Capability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true,
    "binaryMode": "separate",
    "timezone": "Asia/Seoul",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveExecutionProgress": true,
    "executionTimeout": 60
  }
}
